@use "../util" as *;
@use "../globals" as *;

body {
  background-color: $main-background;

  img {
    width: 100%;
    height: 100%;
  }
}
.container {
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "body hero";
  background-color: $card-background;
  @include border-radius;
  .hero {
    grid-area: hero;
    position: relative;
    img {
      @include border-radius(0px, 10px, 10px, 0);
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $accent;
      opacity: 0.5;
      content: "";
      width: 100%;
      height: 100%;
      @include border-radius(0, 10px, 10px, 0);
    }
  }
  .body {
    font-family: "Inter", sans-serif;
    margin: rem(30);
    padding: rem(30);

    // padding: 10px;
    // text-align: center;
    grid-area: body;
    h1 {
      color: $main-heading;
      font-size: rem(35);
      font-weight: 700;
    }
    span {
      color: $accent;
      font-weight: 700;
    }
    .caption {
      color: $main-paragraph;
      padding-top: rem(20);
    }
    .stat {
      font-family: "Lexend Deca", sans-serif;

      padding-top: rem(60);
      display: flex;
      color: $stat-headings;
      justify-content: space-between;
      h2 {
        color: $main-heading;
        font-size: rem(30);
      }
    
    }
  }

  @include breakpoint-down("medium") {
    min-width: 375px;

    max-width: 175px;

    grid-template-areas:
      "hero hero "
      "body body ";
    .hero img {
      @include border-radius(10px, 10px, 0, 0);
    }
    .hero::after {
      @include border-radius(10px, 10px, 0, 0);
    }
    .body {
      text-align: center;
      margin: rem(15);
      h1 {
        font-size: rem(30);
      }
      .stat {
        padding-top: rem(40);
        flex-direction: column;
        gap: rem(20);
      }
    }
  }
}
